extends ../templates/base

block title
    title= 'Каталог программ - карточка'
    meta(name="description" content="Описание страницы")
block content
    .pages-wrap
        .pages-content.js--page-content
            include ../includes/redesign-site/header
            +header(0)
            include ../includes/blocks/redesign-main-page/sidebar
            main
                .white-substrate
                    .container-pages
                        .block-container.block-container-crumbs
                            .breadcrumbs-new.program-directory__breadcrumbs-desctop
                                a.breadcrumbs-new__link(href='#')
                                    span.breadcrumbs-new__link-text Сервисы
                                span.breadcrumbs-new__link.breadcrumbs-new__link_current
                                    span.breadcrumbs-new__link-text Калькуляторы
                            a(href="#").breadcrumbs-new__mob Назад
                        .block-container.mor-rep-calculators__container
                            .calc-tax-deduc-new__wr-title
                                h1.h1_title Калькулятор <span class="highlighting">досрочного погашения</span> ипотеки
                                .h1_title__des.
                                    Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат

                            .calc-tax-deduc-new__wr-block
                                #v-mortgage-repayment-calculator(v-cloak)
                                    //mortgage-repayment-calculator(

                                        calculatorId="777777"
                                        answer-can-share="1"
                                        answersId = "68"
                                        answerLink='{"link":"htpp:usual-link.ru", "vk":"htpp:vk-link.ru", "tg":"htpp:tg-link.ru", "wp":"htpp:wp-link.ru"}'
                                        answers='[{"loanAmount":"500000","dateReceipt":"[0, 2025]","bet":"5","term":"month","loanTerm":"12","paymentType":"annuity"},{"beginningHolidays":"[4, 2025]", "termHoliday":"1"},[{"id":0,"fieldAmount":"50 000", "field_amount":"50 000", "field_data":2025, "dateEarly":[1, 2025], "field_period":true, "periodicityParameter":2,"repetitionPeriod":"choose-term","whatReduce":"term","earlyEnd":{"flag":1,"id":0, "min_date_holidays_begin":"2025-0","selected_value":"2025-1","selected_value_begin":[1,2025], "selected_value_calculations":null},"earlyMain":{"flag":1,"id":0, "min_date_holidays_begin":"2025-0","selected_value":"2025-1"},"earlyAllPeriod":{"id":0, "selected_value_begin":[1,2025],"selected_value_end":[3,2025]},"earlySelectPeriod":{"key":0, "period":"choose-term","value":1},"earlyDate":[[1, 2025], 0,"maska"],"earlyAmount":{"amount":5000,"index":0},"whatReduceArray":{"index":0,"what_reduce":"term"}}]]'
                                        limit-holidays="15000000"
                                        tooltip-information='{"loan-amount":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","date-receipt":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","bet":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","loan-term":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","annuity-payment":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","differentiated-payment":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-holidays='{"beginning-holidays":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","term-holidays":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-early='{"early-date":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-amount":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-frequency":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-repetition-period":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-what-reduce":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-result='{"close-mortgage":"Вы закроете ипотеку","monthly-payment":"Ежемесячный платёж","pay-total":"Всего заплатите","savings":"Экономия"}'
                                        html-tooltip='<div class="feed_back feedback modal-new-container"><p class="modal__title">Что такое ипотечные каникулы?</p><div class="mor-rep-calculators__modal-des"><p>Льготный период, в течение которого заёмщик может приостановить выплаты ипотечного кредита.</p><ul><li>Заёмщик может приостановить выплаты по ипотечному кредиту на срок до 6 месяцев в рамках льготного периода</li><li>Льготный период может быть применён один раз к кредитам, не превышающим 15 миллионов рублей на момент выдачи</li><li>Основанием для ипотечных каникул являются сложные жизненные обстоятельства или чрезвычайные ситуации (подтвердите документально перед обращением в банк)</li></ul></div><div class="modal__bottom-sand"><a class="btn_s transparent_black_border mobile-100" href="#">Подробнее</a></div></div>'
                                    //)

                                    mortgage-repayment-calculator(
                                        calculatorId="777777"
                                        answer-can-share="1"
                                        answersId = "6"
                                        answerLink='{"link":"htpp:usual-link.ru", "vk":"htpp:vk-link.ru", "tg":"htpp:tg-link.ru", "wp":"htpp:wp-link.ru"}'
                                        answers=''
                                        limit-holidays="15000000"
                                        tooltip-information='{"loan-amount":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","date-receipt":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","bet":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","loan-term":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","annuity-payment":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","differentiated-payment":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-holidays='{"beginning-holidays":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","term-holidays":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-early='{"early-date":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-amount":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-frequency":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-repetition-period":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат","early-what-reduce":"Посчитайте, сколько вы сможете сэкономить, воспользовавшись досрочным погашением ипотеки. С помощью сервиса можно рассчитать выгоду и от использования самых популярных выплат"}'
                                        tooltip-result='{"close-mortgage":"Вы закроете ипотеку","monthly-payment":"Ежемесячный платёж","pay-total":"Всего заплатите","savings":"Экономия"}'
                                        html-tooltip='<div class="feed_back feedback modal-new-container"><p class="modal__title">Что такое ипотечные каникулы?</p><div class="mor-rep-calculators__modal-des"><p>Льготный период, в течение которого заёмщик может приостановить выплаты ипотечного кредита.</p><ul><li>Заёмщик может приостановить выплаты по ипотечному кредиту на срок до 6 месяцев в рамках льготного периода</li><li>Льготный период может быть применён один раз к кредитам, не превышающим 15 миллионов рублей на момент выдачи</li><li>Основанием для ипотечных каникул являются сложные жизненные обстоятельства или чрезвычайные ситуации (подтвердите документально перед обращением в банк)</li></ul></div><div class="modal__bottom-sand"><a class="btn_s transparent_black_border mobile-100" href="#">Подробнее</a></div></div>'
                                    )




                            .content-block-new
                                .block-grid-area-big-small
                                    .block-grid-area__col
                                        .content-block-wrapper
                                            h2 Справочная информация
                                            .content-block-new
                                                h3 Обязательные условия для получения налогового вычета: h3
                                                ul
                                                    li Минимальный <a href="#">размер первоначального</a> взноса — 20% от стоимости жилья.
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                    li Минимальный размер первоначального взноса — 20% от стоимости.
                                                        span.content-note.js--content-note ?
                                                            span.content-note__text.
                                                                Налог на <a href="#" target="_blank">доходы физических лиц ервоначального взноса можно использовать средства материнского капитала</a>
                                                        | первоначального взноса можно использовать средства материнского капитала.
                                                        | Минимальный размер первоначального взноса — 20% от стоимости жилья.

                                                h2 Виды вычетов h2
                                                p Заявки на льготное ипотечное кредитование принимает Банк ДОМ.РФ
                                                    span.content-note.js--content-note ?
                                                        span.content-note__text.
                                                            Налог на <a href="#" target="_blank">доходы физических лиц ервоначального взноса можно использовать средства материнского капитала</a>.
                                                    | .
                                                h4 Размер вычета h4
                                                ul.bulleted-list.green
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                ul.bulleted-list.yellow
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                    li Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                p Минимальный размер первоначального взноса — 20% от стоимости жилья. Для оплаты
                                                    span.content-note.js--content-note ?
                                                        span.content-note__text Налог на <a href="#">доходы</a> физических лиц
                                                    | первоначального взноса можно использовать средства материнского капитала.

                                                p.
                                                    Минимальный размер первоначального взноса — 20% от стоимости жилья.
                                                    Для оплаты первоначального взноса можно использовать средства материнского капитала.
                                                | Минимальный размер первоначального взноса — 20% от стоимости жилья. Для оплаты первоначального взноса можно использовать средства
                                            .content-block-new
                                                div
                                                    img(src="img/img-bunner-new.webp")
                                    .block-grid-area__col.display-flex
                                        .form-rating
                                            p.form-rating__title Была ли полезна страница?
                                            .form-rating__wr-form.js--form-rating#js--form-rating0(v-cloak)
                                                form(method="" action="")
                                                    .form-rating__wr-grade(ref="formRating")
                                                        .form-rating__grade-item(v-for="(item,index) in array_star" :class="!form_show?'unactive':''")
                                                            input.js--grade-item(type="radio" :for-raiting="array_star.length-index" :id="item" @click="changeGrade($event,index)" :disabled="!form_show")
                                                            label(:for="item")
                                                                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.1416 2.27888C10.8196 0.573703 13.1803 0.573711 13.8583 2.27888L15.8871 7.38124C15.8912 7.39141 15.8957 7.39712 15.8984 7.39991L21.1563 7.84083C22.9969 7.99518 23.591 10.2867 22.3142 11.4307L18.3021 15.0258C18.299 15.0285 18.2921 15.0363 18.2873 15.0518C18.2825 15.0673 18.2816 15.085 18.2855 15.1023L19.5113 20.4776C19.889 22.1339 18.1199 23.7235 16.4946 22.6851L12 19.8135L7.50536 22.6851C5.88008 23.7235 4.11093 22.1339 4.48864 20.4776L5.71443 15.1023C5.71837 15.085 5.71744 15.0673 5.71262 15.0518C5.70782 15.0363 5.701 15.0285 5.6979 15.0258L1.68571 11.4307C0.408924 10.2867 1.00304 7.99518 2.8437 7.84083L8.10151 7.39991C8.10424 7.39712 8.10876 7.39141 8.1128 7.38124L10.1416 2.27888ZM12 3.01814L9.97127 8.12021C9.69314 8.81969 9.04938 9.32744 8.2769 9.39222L3.01667 9.83334C3.01349 9.83829 3.00925 9.84629 3.00564 9.85793C2.99838 9.88129 2.99917 9.90197 3.00211 9.91405C3.00338 9.91926 3.00497 9.92276 3.00658 9.92548C3.00799 9.92787 3.01151 9.93325 3.02037 9.94119L7.03255 13.5362C7.59759 14.0425 7.83037 14.819 7.66437 15.547L6.43858 20.9222C6.43428 20.9411 6.43428 20.9532 6.43474 20.9597C6.43522 20.9665 6.43652 20.9715 6.43807 20.9756C6.43983 20.9802 6.44241 20.9848 6.44553 20.9889L10.937 18.1192C11.5874 17.7037 12.4126 17.7037 13.0629 18.1192L17.5544 20.9889C17.5575 20.9848 17.5601 20.9802 17.5619 20.9756C17.5634 20.9715 17.5647 20.9665 17.5652 20.9597C17.5657 20.9532 17.5657 20.9411 17.5614 20.9222L16.3356 15.547C16.1696 14.819 16.4024 14.0425 16.9674 13.5362L20.9796 9.94119C20.9884 9.93325 20.992 9.92787 20.9934 9.92548C20.995 9.92276 20.9966 9.91926 20.9978 9.91405C21.0008 9.90197 21.0016 9.88129 20.9943 9.85793C20.9907 9.84629 20.9865 9.8383 20.9833 9.83334L15.7231 9.39222C14.9506 9.32744 14.3068 8.81969 14.0287 8.12021L12 3.01814Z', fill='#6D6D6D')
                                                                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.1416 2.27888C10.8196 0.573703 13.1803 0.573711 13.8583 2.27888L15.8871 7.38124C15.8912 7.39141 15.8957 7.39712 15.8984 7.39991L21.1563 7.84083C22.9969 7.99518 23.591 10.2867 22.3142 11.4307L18.3021 15.0258C18.299 15.0285 18.2921 15.0363 18.2873 15.0518C18.2825 15.0673 18.2816 15.085 18.2855 15.1023L19.5113 20.4776C19.889 22.1339 18.1199 23.7235 16.4946 22.6851L12 19.8135L7.50536 22.6851C5.88008 23.7235 4.11093 22.1339 4.48864 20.4776L5.71443 15.1023C5.71837 15.085 5.71744 15.0673 5.71262 15.0518C5.70782 15.0363 5.701 15.0285 5.6979 15.0258L1.68571 11.4307C0.408924 10.2867 1.00304 7.99518 2.8437 7.84083L8.10151 7.39991C8.10424 7.39712 8.10876 7.39141 8.1128 7.38124L10.1416 2.27888Z', fill='#F8C000')
                                                    .form-rating__wr-textarea(v-show="rate!==0&&form_show")
                                                        .form-rating__textarea(:class="(show_error)||length_error?'error':''")
                                                            textarea(:placeholder="place_holder" v-model="textValue" @blur="endFocus" @input="textInput" @keydown="textKeyDown" @focus="beginFocus" ref="textArea")
                                                            p.form-rating__textarea-error(v-if="show_error") Введите комментарий
                                                            p.form-rating__textarea-error(v-if="length_error") Максимальное количество символов - {{max_length}}
                                                        input(hidden type="text" ref="hiddenInput")
                                                        button(type="button" v-if="!btn_active" @click="showError").form-rating__button Отправить
                                                        button(type="submit" v-if="btn_active" @click="localStorageClick").form-rating__button.active Отправить

                            .mor-rep-calculators__soc-list
                                include ../mixins/soc-list
                                +soc-list()

                            .content-block-new-wrapper
                                h2 Другие калькуляторы
                                .mor-rep-calculators__another-material
                                    .swiper-container.js--slider-construtor.swiper-slider-construtor(data-space-between='{"desctop":"16","tablet":"16","mobile":"10"}' data-count-slide='{"large_desctop":"3","desctop":"3","small_desctop":"3","tablet":"2","mobile":"1"}' data-simulation-touch='{"desctop":"false","tablet":"false","mobile":"true"}' data-simulate-touch="false" data-loop='{"desctop":"false","small_desctop":"false","tablet":"false","mobile":"false"}' data-arrows='{"arrow_left":".js--swiper-arrow-left-cal-materil","arrow_right":".js--swiper-arrow-right-material"}' data-pagination='{"pagination":".js--swiper-slide-pagination-material"}')
                                        .swiper-wrapper
                                            .swiper-slide
                                                .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_green.element-banner_small.element-banner__photo-color_black
                                                    .element-banner__hover
                                                        svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                                    .element-banner__body
                                                        a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                                        .element-banner__img
                                                            svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                g(opacity='0.5')
                                                                    rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                                    path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                                    path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        .element-banner__bottom
                                                            .element-bunner__icon

                                            .swiper-slide
                                                .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_green.element-banner_small.element-banner__photo-color_black
                                                    .element-banner__hover
                                                        svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                                    .element-banner__body
                                                        a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                                        .element-banner__img
                                                            svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                g(opacity='0.5')
                                                                    rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                                    path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                                    path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        .element-banner__bottom
                                                            .element-bunner__icon


                                            .swiper-slide
                                                .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_green.element-banner_small.element-banner__photo-color_black
                                                    .element-banner__hover
                                                        svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                                    .element-banner__body
                                                        a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                                        .element-banner__img
                                                            svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                g(opacity='0.5')
                                                                    rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                                    path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                                    path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                                    rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        .element-banner__bottom
                                                            .element-bunner__icon

                                    .container-swiper-arrow.only-mobile.js--container-swiper-arrow
                                        .swiper-slide-arrow.swiper-slide-arrow__left.disabled-non-disappear.js--swiper-arrow-left-cal-materil
                                            svg(width='20', height='14', viewbox='0 0 20 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8.2071 13.3632C7.81658 13.7537 7.18341 13.7537 6.79289 13.3632L1.13604 7.70635C0.74551 7.31582 0.745511 6.68266 1.13603 6.29214L6.79289 0.635281C7.18341 0.244756 7.81658 0.244756 8.2071 0.635281C8.59763 1.02581 8.59763 1.65897 8.2071 2.04949L4.25735 5.99924L18.1569 5.99924C18.7091 5.99924 19.1569 6.44696 19.1569 6.99924C19.1569 7.55153 18.7091 7.99924 18.1569 7.99924L4.25736 7.99924L8.2071 11.949C8.59763 12.3395 8.59763 12.9727 8.2071 13.3632Z', fill='white')
                                        .swiper-slide-arrow.swiper-slide-arrow__right.disabled-non-disappear.js--swiper-arrow-right-material
                                            svg(width='20', height='14', viewbox='0 0 20 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8.2071 13.3632C7.81658 13.7537 7.18341 13.7537 6.79289 13.3632L1.13604 7.70635C0.74551 7.31582 0.745511 6.68266 1.13603 6.29214L6.79289 0.635281C7.18341 0.244756 7.81658 0.244756 8.2071 0.635281C8.59763 1.02581 8.59763 1.65897 8.2071 2.04949L4.25735 5.99924L18.1569 5.99924C18.7091 5.99924 19.1569 6.44696 19.1569 6.99924C19.1569 7.55153 18.7091 7.99924 18.1569 7.99924L4.25736 7.99924L8.2071 11.949C8.59763 12.3395 8.59763 12.9727 8.2071 13.3632Z', fill='white')
                                    .swiper-slide-pagination.js--swiper-slide-pagination-material.js--pagination-slider_s.only-mobile










                                //.instruction-breeding__row-three-column
                                    //.mor-rep-calculators__three-columns-items
                                    .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_green.element-banner_small.element-banner__photo-color_black
                                        .element-banner__hover
                                            svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                        .element-banner__body
                                            a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                            .element-banner__img
                                                svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    g(opacity='0.5')
                                                        rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                        path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                        path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                        rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                            .element-banner__bottom
                                                .element-bunner__icon

                                    .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_blue.element-banner_small.element-banner__photo-color_black
                                        .element-banner__hover
                                            svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                        .element-banner__body
                                            a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                            .element-banner__img
                                                svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    g(opacity='0.5')
                                                        rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                        path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                        path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                        rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                            .element-banner__bottom
                                                .element-bunner__icon

                                    .element-banner.element-banner__symbol.element-banner__hover-symbol.element-banner__symbol-color_violet.element-banner_small.element-banner__photo-color_black
                                        .element-banner__hover
                                            svg(width='496', height='496', viewbox='0 0 496 496', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M190.801 472.187C173.462 487.457 154.07 496 133.603 496C59.816 496 0 384.967 0 248C0 111.033 59.816 0 133.603 0C154.07 0 173.462 8.54316 190.801 23.8132C208.14 8.54316 227.533 0 248 0C268.467 0 287.86 8.54316 305.199 23.8132C322.538 8.54316 341.93 0 362.397 0C436.184 0 496 111.033 496 248C496 384.967 436.184 496 362.397 496C341.93 496 322.538 487.457 305.199 472.187C287.86 487.457 268.467 496 248 496C227.533 496 208.14 487.457 190.801 472.187Z', fill='#DAFF01')
                                        .element-banner__body
                                            a(href="#").element-banner__title Ипотека 2023: жилье на выгодных условиях
                                            .element-banner__img
                                                svg(width='120', height='120', viewbox='0 0 120 120', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    g(opacity='0.5')
                                                        rect(x='61.6709', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='4', y='28.1172', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='40.2148', y='10', width='54.354', height='18.1086', rx='9.05432', transform='rotate(90 40.2148 10)', fill='#C3DBFF')
                                                        path(d='M11.9605 69.9111C15.4965 66.3734 21.2294 66.3734 24.7653 69.9111L50.3748 95.5339C53.9107 99.0716 53.9107 104.807 50.3748 108.345C46.8388 111.883 41.106 111.883 37.57 108.345L11.9605 82.7225C8.42461 79.1847 8.42461 73.4489 11.9605 69.9111Z', fill='#C3DBFF')
                                                        path(d='M50.3748 69.9111C53.9107 73.4489 53.9107 79.1847 50.3748 82.7225L24.7653 108.345C21.2294 111.883 15.4965 111.883 11.9605 108.345C8.42461 104.807 8.42461 99.0716 11.9605 95.5339L37.57 69.9111C41.106 66.3734 46.8388 66.3734 50.3748 69.9111Z', fill='#C3DBFF')
                                                        rect(x='61.6748', y='67.2578', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                                        rect(x='61.6748', y='92.1719', width='54.3259', height='18.118', rx='9.05901', fill='#C3DBFF')
                                            .element-banner__bottom
                                                .element-bunner__icon


                            .content-block-new-wrapper
                                h2 Материалы по теме

                                .material__card.desctop.general-style-slider
                                    .swiper-container.js--slider-construtor.swiper-slider-construtor(data-space-between='{"desctop":"16","tablet":"14","mobile":"10"}' data-count-slide='{"large_desctop":"1","desctop":"1","small_desctop":"1","tablet":"1","mobile":"1"}' data-simulate-touch="false" data-loop='{"desctop":"false","small_desctop":"false","tablet":"false","mobile":"false"}' data-arrows='{"arrow_left":".js--swiper-arrow-left","arrow_right":".js--swiper-arrow-right"}' data-pagination='{"pagination":".js--swiper-slide-pagination"}')
                                        .swiper-wrapper
                                            .swiper-slide
                                                .grid-block-4-column
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт

                                            .swiper-slide
                                                .grid-block-4-column
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                                    a(href="#").element-block-gray.element-block-news
                                                        p.element-block-news__tags Инструкции
                                                        p.element-block-news__des.
                                                            Определен перечень организаций для получения налогового вычета за спорт
                                    .container-swiper-arrow.only-mobile.js--container-swiper-arrow
                                        .swiper-slide-arrow.swiper-slide-arrow__left.disabled-non-disappear.js--swiper-arrow-left
                                            svg(width='20', height='14', viewbox='0 0 20 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8.2071 13.3632C7.81658 13.7537 7.18341 13.7537 6.79289 13.3632L1.13604 7.70635C0.74551 7.31582 0.745511 6.68266 1.13603 6.29214L6.79289 0.635281C7.18341 0.244756 7.81658 0.244756 8.2071 0.635281C8.59763 1.02581 8.59763 1.65897 8.2071 2.04949L4.25735 5.99924L18.1569 5.99924C18.7091 5.99924 19.1569 6.44696 19.1569 6.99924C19.1569 7.55153 18.7091 7.99924 18.1569 7.99924L4.25736 7.99924L8.2071 11.949C8.59763 12.3395 8.59763 12.9727 8.2071 13.3632Z', fill='white')
                                        .swiper-slide-arrow.swiper-slide-arrow__right.disabled-non-disappear.js--swiper-arrow-right
                                            svg(width='20', height='14', viewbox='0 0 20 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M8.2071 13.3632C7.81658 13.7537 7.18341 13.7537 6.79289 13.3632L1.13604 7.70635C0.74551 7.31582 0.745511 6.68266 1.13603 6.29214L6.79289 0.635281C7.18341 0.244756 7.81658 0.244756 8.2071 0.635281C8.59763 1.02581 8.59763 1.65897 8.2071 2.04949L4.25735 5.99924L18.1569 5.99924C18.7091 5.99924 19.1569 6.44696 19.1569 6.99924C19.1569 7.55153 18.7091 7.99924 18.1569 7.99924L4.25736 7.99924L8.2071 11.949C8.59763 12.3395 8.59763 12.9727 8.2071 13.3632Z', fill='white')
                                    .swiper-slide-pagination.js--swiper-slide-pagination.js--pagination-slider_s.only-mobile


                                .material__card.mobile.general-style-slider
                                    .swiper-container.js--slider-construtor.swiper-slider-construtor(data-space-between='{"desctop":"16","tablet":"14","mobile":"10"}' data-count-slide='{"large_desctop":"1","desctop":"1","small_desctop":"1","tablet":"1","mobile":"1"}' data-simulate-touch="true" data-loop='{"desctop":"false","small_desctop":"false","tablet":"false","mobile":"false"}' data-arrows='{"arrow_left":".js--swiper-arrow-left-mobile","arrow_right":".js--swiper-arrow-right-mobile"}' data-pagination='{"pagination":".js--swiper-slide-pagination-mobile"}')
                                        .swiper-wrapper
                                            .swiper-slide
                                                a(href="#").element-block-gray.element-block-news
                                                    p.element-block-news__tags Инструкции
                                                    p.element-block-news__des.
                                                        Определен перечень организаций для получения налогового вычета за спорт

                                            .swiper-slide
                                                a(href="#").element-block-gray.element-block-news
                                                    p.element-block-news__tags Инструкции
                                                    p.element-block-news__des.
                                                        Определен перечень организаций для получения налогового вычета за спорт

                                            .swiper-slide
                                                a(href="#").element-block-gray.element-block-news
                                                    p.element-block-news__tags Инструкции
                                                    p.element-block-news__des.
                                                        Определен перечень организаций для получения налогового вычета за спорт

                                            .swiper-slide
                                                a(href="#").element-block-gray.element-block-news
                                                    p.element-block-news__tags Инструкции
                                                    p.element-block-news__des.
                                                        Определен перечень организаций для получения налогового вычета за спорт



                                    .swiper-slide-pagination.js--swiper-slide-pagination-mobile.js--pagination-slider_s





                include ../includes/new-page-form
            //.layer-overlay.js--layer-overlay
            include ../includes/cookies
            include ../includes/redesign-site/footer

